.logo-home
    position relative
    width 100%
    height auto
    max-width 100px 
    .check
        position absolute
        width 50%
        height 50%
        top -18%
        right -20%
    .logo-fac
        width 100%
        height auto