.modal-overlay
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background: rgba(70, 93, 118, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display flex
    justify-content center
    align-items center
    .modal-create-content
        background #FFF
        position fixed
        width 100%
        height 100%
        max-width 660px
        max-height 488px
        border-radius 8px
        display flex
        flex-direction column
        .modal-header
            display flex
            flex-direction row
            align-items: center
            position relative
            margin-top 0px
            .modal-title
                font-family Gilroy_Bold
                font-size 25px
                color #283848
                margin-left 40px
                margin-top 34px
            .close-modal-button
                position absolute
                top 19px
                right 17px
        .form-container
            width 100%
            max-width 578px
            margin-left 40px
            margin-right 40px
            // margin-top 39px
            padding 0
            display: flex
            position relative
            top 1%
            .create-task-form
                width 100%
                .task-title
                    position relative
                .task-desc
                    position relative
                    top 4.5%
                .task-categorie
                    position relative
                    top 9.5%
            .add-button
                border none
                font-family Gilroy_Bold
                border-radius 4px
                width 118px
                height 47px
                color #FFF
                position relative
                left 79.5%
                top 3%
                cursor not-allowed
            .add-button.enabled
                background-color #16D08D
                cursor pointer
            .add-button:disabled
                background-color #A6C1D2