.login-button
    background-color #1AD18F
    width 368px
    height 55px
    border none
    border-radius 5px
    font-family Gilroy_SemiBold
    color #FFF

.login-button:hover
    cursor pointer
    background-color #1AD182