.main-container-home
    display flex
    justify-content center
    align-items center
    height 100vh
    width 100vw
    background-color #E9F4FB

.side-bar-main
    position fixed
    left 0%

.categories-bar-main
    position fixed
    left 106px

.header-main
    width 100%
    position: absolute
    left:  0%
    top 0%

.tasks-container
    width 50%
    height 70%
    position relative
    top 10%
    left 11%
    display flex
    flex-direction column
    gap 3px
    overflow-y: auto;
    // .tasks-container::-webkit-scrollbar
    //     width: 10px
    //     background-color: #6e0000;
    .tasks-container-title,.tasks-container-subtitle
        margin 0
    .tasks-container-title
        font-family Gilroy_Bold
        font-size 26px
        color #283848
    .tasks-container-subtitle
        font-family Gilroy_SemiBold
        font-size 17px
        color #77899E
        .name
            color #2693FF
        .tasks,.taskLabel
            color #2693FF
            text-decoration underline
    .search-bar-home
        margin-top 20px
    .task-label-home
        margin-top: 20px
        width 100% 
        display flex
.add-task-button
    position fixed
    bottom 23px
    right 28px
    max-width 77px
    max-height: 77px
    width 100%
    height 100%
    border none
    border-radius 50%
    background-color #0ED984
    color #FFF
    font-size 45px
    font-weight bold
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
.add-task-button:hover
    cursor pointer
    background-color #1AD182