.label-container
    display flex
    flex-direction row
    gap 13px
    background #ffffff
    box-shadow 0px 1px 6px rgba(40, 56, 72, 0.1)
    width 633px
    max-width 633px
    height 64px
    max-height 64px
    border-radius 5px
    align-items center
    position relative

    .checkbox
        position relative
        margin-left 15px
        margin-bottom 5px

    .task-text-container
        display flex
        flex-direction row
        align-items center
        width 100%
        flex-grow 1

        .task-label-title
            font-family Gilroy_SemiBold
            font-size 15px
            max-width 540px

    .task-options-and-categorie
        display flex
        align-items center
        gap 15px

        .task-label-categorie
            position absolute
            right 46px
            font-family Gilroy_Bold
            font-size 11px
            color #FFF
            border-radius 40px
            padding 5px 10px 5px 10px

        .task-options
            background none
            border none
            margin-right 15px
            &:hover
                cursor pointer

        .kebab-menu-in-label
            position absolute
            top 11%
            right 3%

    .urgent
        background #FF2E79

    .important
        background #FFC42E

    .normal
        background #FFF

    &.checked
        opacity 50%
        .task-label-title
            color #304458
            text-decoration line-through
        .urgent
            background #FF2E79
        .important
            background #FFC42E
        .normal
            background #ffffff
