.email-input
    border-color #BFDAEB
    border-radius 5px
    border-style solid
    width 368px
    height 55px
    padding-left 10px
    box-sizing border-box

    &:focus
        border-color #2693FF
        outline none