.search-container
    display flex
    align-items center
    max-height 51px
    max-width 633px
    width 100%
    min-height 51px 
    height 51px 
    position relative

.search-bar-main
    background none
    width 100%
    height 100%
    max-height 51px
    max-width 633px
    border-color #BFDAEB
    border-radius 5px
    border-style solid
    padding-left  19px
    font-family Gilroy_SemiBold
    color #A6C1D2
    outline none
    box-sizing border-box

.search-icon
    position absolute
    right 2%
    max-width 25px
    max-height 25px
