@font-face {
    font-family: 'Gilroy_Black';
    src: url('../fonts/SVN-Gilroy Black.ttf') format('truetype')
}

@font-face {
    font-family: 'Gilroy_Bold';
    src: url('../fonts/SVN-Gilroy Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Gilroy_Italic';
    src: url('../fonts/SVN-Gilroy Italic.ttf') format('truetype')
}

@font-face {
    font-family: 'Gilroy_Light';
    src: url('../fonts/SVN-Gilroy Light.ttf') format('truetype')
}

@font-face {
    font-family: 'Gilroy_Medium';
    src: url('../fonts/SVN-Gilroy Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'Gilroy_Regular';
    src: url('../fonts/SVN-Gilroy Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Gilroy_SemiBold';
    src: url('../fonts/SVN-Gilroy SemiBold.ttf') format('truetype')
}

@font-face {
    font-family: 'Gilroy_Thin';
    src: url('../fonts/SVN-Gilroy Thin.ttf') format('truetype')
}