@import '~@/assets/stylus/fonts.styl'

.main-container-login
    display flex
    justify-content center
    align-items center
    height 100vh
    width 100vw

.blue-container
    position relative
    margin-left 0
    width 50vw
    height 100vh
    background: #2693FF
    display flex
    justify-content center
	align-items center
    flex-direction column

.blue-container-content
    display flex
    justify-content center
    align-items left
    height 100%
    width 100%
    flex-direction column
    position relative
    left 10vw
    

    .sub-title
        color #FFF
        font-family: Gilroy_Medium
        position relative
        top -4.5%

    .logo-type-login
        position relative
        top 3%

    .main-title
        color #FFF
        font-size 48px
        .title-bold
            font-family Gilroy_Bold
        .title-regular
            font-family Gilroy_Regular

.form-container
    width 60vw
    display flex
    flex-direction column
    justify-content center
    align-items center
    text-align left
    padding 20px
    margin-left 13vw

    .form-block
        display flex
        flex-direction column
        align-items left
        justify-content center
        width 100%

    .email-block,
    .password-block
      width 100%
      margin-bottom 20px
      font-family Gilroy_SemiBold
      font-size 14px
      color #4E657B
      text-align left

    .email-input,
    .password-input,
    .login-button
        margin-top 5px
        letter-spacing: 0.15px
        width 100%
        max-width 368px

    .login-title
        font-family: Gilroy_Bold
        margin-bottom 36px

    .forgot-pass
        font-family Gilroy_SemiBold
        font-size 13px
        color #2693FF
        text-decoration underline
        padding 42px 0px 0px 0px

    .login-button
        margin-top 0px
        font-family Gilroy_SemiBold
        text-align center